.mapBlockWrapper {
  //border: 1px solid blue;
  display: flex;
  justify-content: center;
  position: relative;
}

.mapWrapper {
  width: 100%;
  margin: 10px;
  position: relative;
  min-height: 500px;
  //border: 1px solid blue;
}
.map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  //height: 100%;
  //width: 100%;
}

/*
.marker {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/images/marker_A_icon.png");
  background-repeat: no-repeat;
  background-position: center;
}*/
